<tr>
    <td>
        <label class="checkbox add-user-label" data-stream-id="{{this.stream_id}}" data-stream-name="{{this.name}}">
            <input type="checkbox" name="stream" value="{{this.name}}" />
            <span></span>
            {{this.name}} ( <i class="fa fa-user" aria-hidden="true"></i> {{this.subscriber_count}})
        </label>
    </td>
</tr>
